

  
  .container {
    overflow: hidden;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .job {
    background: rgb(193, 195, 197);
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    position: relative;
    
  }
  
  
  

  .underline {
    text-decoration: underline;
  }